table {
    margin: auto;
    background-color: #474C4D;
    border: 10px solid green;
}

.backgroundDiv, .activeDiv2, .activeDiv4, .activeDiv8, .activeDiv16,
.activeDiv32, .activeDiv64, .activeDiv128, .activeDiv256, .activeDiv512,
.activeDiv1024, .activeDiv2048, .gameOver{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-family: serif;
    font-size: 80px;
    background-color: #B5B5B5;
}

.container {
    width: 9.5em;
    height: 9.5em;
}

.gameOver {
    border-radius: 0%;
    background-color: white;
    color: darkmagenta;
    font-family: "Arial", "arial";
    font-size: 100px;
}

.activeDiv2 {
    background-color: #17c8ee;
}

.activeDiv4 {
    background-color: #15eec8;
}

.activeDiv8 {
    background-color: #13ba52;
    border-radius: 12%;
}

.activeDiv16 {
    background-color: #c2ee13;
    border-radius: 15%;
}

.activeDiv32 {
    background-color: #eed804;
    border-radius: 20%;
}

.activeDiv64 {
    background-color: #ffa704;
    border-radius: 30%;
}

.activeDiv128 {
    background-color: #ee2000;
    border-radius: 40%;
}

.activeDiv256 {
    background-color: #ee057d;
    border-radius: 50%;
}

.activeDiv512 {
    background-color: #e304f4;
    border-radius: 70%;
}

.activeDiv1024 {
    background-color: #ad06df;
    border-radius: 90%;
}

.activeDiv2048 {
    background-color: #0009ea;
    border-radius: 100%;
}

.activeDiv2, .activeDiv4, .activeDiv8, .activeDiv16,
.activeDiv32, .activeDiv64, .activeDiv128, .activeDiv256, .activeDiv512
.activeDiv1024, .activeDiv2048 {
    z-index: 1;
}

h1 {
    color: red;
    text-align: center;
    border: 3px solid orange;
}

